html,
body {
  height: 100%;
  display: flex;
  flex-direction: column;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  color: #1351b8;
  padding: 1em;
  text-align: center;
  /* background-color: rgb(241, 241, 241); */

}

nav {
  margin: 0 16px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  box-shadow: 0 2px 2px rgba(23, 25, 170, 0.5);

}

.logo {
  text-align: left;
}

.logo img {
  height: 50px;
  width: auto;
  margin: 5px;
}

.links a {
  margin: 0 16px;
  color: #1351b8;
  font-size: 25px;
  font-weight: bold;
  text-decoration: none;
  text-align: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

main {
  text-align: center;
  flex: 1;

}

main img {
  width: 100%;
  height: auto;
  max-width: 1580px;
  margin-top: 20px;
  border-radius: 10px;
}

main p {
  font-size: 20px;
  margin: 20px;
  padding: 0 20px;
  font-style: italic;
  color: #010101;

}

.tabela {
  width: 60%;

}

.imagensCars1 {
  display: flex;
  text-align: center;
  justify-content: center;
}

.imagensCars2 {
  display: flex;
  text-align: center;
  justify-content: center;
  float: right;
}

.imagensCars3 {
  display: flex;
  text-align: center;
  justify-content: center;
  float: left;
}

.imagensCars img {
  width: 320px;
}

.tabelasInfo {
  display: flex;
  gap: 300px;
  text-align: center;
  justify-content: center;

}

/* footer {
  position: static;
  bottom: 0;
} */

iframe {
  width: 100%;
  height: 600px;
}

footer {
  background-color: #1b357e;
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

footer img {
  margin-right: 10px;
}

.redes {
  display: flex;
  align-items: center;
  font-size: 15px;
  margin-left: 10px;
}

.redes img {
  height: 30px;
  width: auto;
  margin: 5px;
}